<h1>Lily's Burger Shop</h1>

<h2>Burgers Ready for Pickup:</h2>

<ul>
    {{#each burgers}}
        {{#unless eaten}}
           {{> burgers/burgerBtns eat=true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Burgers That Have Been Eaten:</h2>

<ul>
    {{#each burgers}}
        {{#if eaten}}
            {{> burgers/burgerBtns eat=false}}
        {{/if}}
    {{/each}}
</ul>

<h2>Order a Burger:</h2>
<form class="create-form">
    <div class="form-group">
        <label for="addBurger">Burger Name:</label>
        <input type="text" id="addBurger" name="burgerName">
    </div>

    <button type="submit">Place Order!</button>
</form>