/* element selectors */
h1 {
    text-align: center;
}

/* class selectors */
.create-form {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}

/* id selectors */
#bestBurgers {
    text-align: center;
}

#burgerIcon {
    width: 25px;
    height: 25px;
}

#columns {
    margin: 0 auto;
}